h1 {

    color: #E8F6F3; background-color: #117A65; font-family: Georgia, Cambria, serif; font-size: 50 px; text-align:center;
}
body {
    background:url(IMAGEN/1.JPG);
    background-size: cover;
    background-position: center;
}
form {
    border: 2px solid rgb(0, 0, 0);
    width: 45%;padding:10px;margin:auto;padding:12px; 
    padding: 5px;
            
            background-color: #CEF6CE;
            border-radius: 7px;
            
      

}

	div{
        width:60%;padding:10px;margin:auto;padding:12px; 
      
        }
        p{
            color: #000000; font-family: Verdana, Calibri, sans-serif; font-size: 14px;
        }
        h4{
            color: #0B5345; font-family: Verdana, Calibri, sans-serif; font-size: 14px;
            width:35%;padding:10px;margin:auto;padding:12px; 
          
        }
        h3{
            color: #0B5345; font-family: Verdana, Calibri, sans-serif; font-size: 14px;
            width: 103%;padding:10px;margin:auto;padding:12px;
            background: transparent;

        }

    
        button{
            
            display:block;
            margin-left: auto;
            margin-right: auto;
            text-decoration: none;
            padding: 5px;
            font-weight: 600;
            font-size: 15px;
            color:#004D40;
            background-color: white;
            border-radius: 7px;
            border: 3px solid #004D40;
            width: 15%; padding:10px;margin:auto;padding:12px;
        
        }
        input{
            
            text-decoration: none;
                padding: 5px;
                font-weight: 600;
                font-size: 15px;
                color:#004D40;
                background-color: white;
                border-radius: 7px;
                border: 2px solid#117A65;
                
        }
        textarea{
            color:#004D40;
            background-color: white;
            border-radius: 7px;
            border: 2px solid#117A65;
        }
        a{
            display: table-cell;
            vertical-align: middle
        }
        h2{
            color:#004D40 ; font-family: Verdana, Calibri, sans-serif; font-size: 14px;
            width:35%;padding:10px;margin:auto;padding:12px; 
        }

